@{
    ViewBag.Title = "用户激活-" + ViewBag.SiteName;
    Layout = "_LoginLayout.cshtml";
}


    
    <div class="alert">
        <h4 class="alert-heading">用户激活结果：</h4> 
        <p>
            @ViewData["Msg"] 
        </p>
        <p>
            @Html.ActionLink("点击这里返回登录", "Login", "User")
        </p>
    </div>

