<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <connectionStrings>
    <add name="ConnString" connectionString="server=127.0.0.1;database=CengZai;uid=sa;pwd=lfl123;"/>
  </connectionStrings>
  
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--网站配置-->
    <add key="SiteName" value="MVC学习"/>
    <add key="SiteDomain" value="www.mvc.com"/>
    <add key="SiteSlogan" value="学习MVC，学习路由！"/>
    <!--加密密钥，网站加密验证数据用-->
    <add key="SecrectKey" value="$liufu%ling^"/>
    <!--禁止用户注册的域名/用户名-->
    <add key="ProtectDomain" value="foolin,liufuling,administrator,ceo,dailog,images,shared,common,util,views,topic,music,text,article,content,image,picture,photo,audio,video,forum,admin,cengzai,blog,bbs,home,user,ask,profile"/>
    <!--登录限制：0=注册用户（激活和未激活用户）可以登录，1=仅激活用户可登录，2=禁止登录，-1=所有用户可以登录（包括锁定用户）-->
    <add key="LoginLimit" value="0"/>
    <!--注册限制：0=开放任何人注册，1=只开放有激活码，2=禁止任何人注册-->
    <add key="RegisterLimit" value="0"/>
    <!--头像的宽度，单位像素-->
    <add key="AvatarWidth" value="150"/>
    <!--头像的高度，单位像素-->
    <add key="AvatarHeight" value="150"/>
    <!--证书的宽度，单位像素-->
    <add key="CertificateAvatarWidth" value="180"/>
    <!--证书的高度，单位像素-->
    <add key="CertificateAvatarHeight" value="120"/>
    <!--缩略图的最大宽，单位像素-->
    <add key="UploadImageMaxWidth" value="600"/>
    <!--缩略图的最大高，单位像素-->
    <add key="UploadImageMaxHeight" value="800"/>
    <!--邀请朋友的积分，int类型，正数表示奖励积分，负数表示扣除积分-->
    <add key="InviteCredit" value="5"/>
    <!--缓存前缀-->
    <add key="CacheKeyPrefix" value="Mvc_"/>
    <!--分页数量-->
    <add key="PageSize" value="20"/>

    <!--上传文件，Map是上传路径，Http是显示路径-->
    <add key="UploadMapPath" value="~/UploadFiles"/>
    <add key="UploadHttpPath" value="/UploadFiles"/>

    <!--邮箱配置-->
    <add key="MailFrom" value="曾在网[no-reply@cengzai.com]"/>
    <add key="MailUserName" value="no-reply@cengzai.com"/>
    <add key="MailPassword" value="y4yhl9t"/>
    <add key="MailSmtpServer" value="smtp.exmail.qq.com"/>
    <add key="MailSmtpPort" value="25"/>
    
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <!--<forms loginUrl="~/User/Login" timeout="2880" />-->
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>


  <location path="upload.aspx">
    <system.web>
      <httpRuntime maxRequestLength="2151" executionTimeout="300" />
    </system.web>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="rollingFile"/>
    </root>
    <logger name="DebugLogger" additivity="false">
      <level value="ALL"></level>
      <appender-ref ref="DebugAppender"></appender-ref>
    </logger>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log\\ErrLog\\ex"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy-M-dd&quot;.txt&quot;"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{HH:mm:ss}:%m%n"/>
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log\\DebugLog\\ex"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy-M-dd&quot;.txt&quot;"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{HH:mm:ss}:%m%n"/>
      </layout>
    </appender>
  </log4net>
  
</configuration>
