@{
    Layout = null;
}

<hr />
<div class="link">
    &copy 2012 @ViewData["SiteName"]<text>(</text>@ViewData["SiteDomain"])
    <div class="pull-right">
    <a href="#about">关于我们</a> | 
    <a href="#about">使用条款</a> | 
    <a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备11056743号</a>
    </div>
</div>
