@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Blog/_BlogLayout.cshtml";
    var Article = ViewBag.Article as CengZai.Model.Article;
}

    <!--内容区域-->
    <div class="article well">
        @if (!string.IsNullOrEmpty(Article.Title))
        {
        <div class="page-header"> 
            <h3>@Article.Title <small></small></h3> 
        </div> 
        }
        <div class="art-content">@MvcHtmlString.Create(Article.Content)</div>
    </div>
    <!--/内容区域-->

