@charset "utf-8";
/* CSS Document */

body{
	margin:60px 0 20px 0;
	padding:0;
}
a{
	color:#06F;
	text-decoration:none;
}
a:hover{
	color:#F00;
}
.clear{
	clear:both;
}
.font12{
	font-size:12px;
}
/********* 博客顶部 ********/
.blog-hd{
	padding:0;
	margin:0 auto;
	width:960px;
	height:120px;
	overflow:hidden;
}
.blog-hd h1,.blog-hd p{
	margin:0;
	padding:5px;
	line-height:1.8em;
	font-size:18pt;
}
.blog-hd p{
	font-size:14px;
}
.blog-hd h1, .blog-hd p, .blog-hd div{
	position:absolute;
}
.blog-hd h1{
	margin-left:200px;
}
.blog-hd .slogan{
	margin-left:830px;
	margin-top:5px;
}
.blog-hd .address{
	margin-left:200px;
	margin-top:50px;
	color:#eee;
}
/******** 博客导航 ***********/
.blog-nav{
	margin-left:180px;
	margin-top:90px;
	width:780px;
}
.blog-nav ul{
	padding:0;
	margin:0;
	list-style:none;
}
.blog-nav ul li{
	padding:0;
	margin:0;
}
.blog-nav ul li a{
	padding:5px;
	color:#FAFAFA;
	text-decoration:underline;
}
.blog-nav ul li a:hover{
	color:#f00;
	text-decoration:none;
}
/****** 博客内容 **********/
.blog-bd{
	margin:0 auto;
	padding:0;
	width:960px;
	overflow:hidden;
}
.bnav{
	float:left;
	width:50%;
	display:block;
}
.bnav li{
	float:left;
}
.gnav{
	float:right;
	width:50%;
	display:block;
}
.gnav li{
	float:right;
}
.bside{
	float:left;
	width:180px;
	margin-bottom:-9000px;
	padding-bottom:9000px;
}
.gside{
	float:right;
	width:180px;
	margin-bottom:-9000px;
	padding-bottom:9000px;
}
/*透明设置begin*/
.bside,.gside, main{
	/* IE5 - 7 */ 
	filter: alpha(opacity=80);  
	/* IE 8 */ 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
	/*其它浏览器*/
	/*background-color:rgba(0,0,0,0.8);*/
}
.bside{
	background:#D2E9FF;
	background-color:rgba(210,233,255,0.8);
}
.gside{
	background:#FFB3FF;
	background-color:rgba(255,179,255,0.8);
}
.bside-inner,.gside-inner{
	position:relative;
}
/*透明设置end*/
.bside-inner, .gside-inner{
	padding:5px;
}
.bside a{
	color:#0066FF;
}
.gside a{
	color:#BD00BD;
}
/*用户信息*/
.user-info{
	padding:3px;
	word-break:break-all;
}
.user-info .avatar{
}
.user-info .avatar img{
	width:150px;
	border:solid 1px #ccc;
	background:#FFFFFF;
	padding:5px;
}
.user-info .nums{
	margin-top:5px;
}
.user-info .nums p{
	float:left;
	height:25px;
	line-height:20px;
}
.user-info .nums .divider{
	margin:0;
	padding:0;
	margin-right:5px;
	padding-right:5px;
	height:20px;
	border-right:dashed 1px #fefefe;
}
.user-info .nums strong{
	color:#E65816;
	padding:2px;
	font-size:12pt;
}
.user-info .nums  a,.user-info .nums  a:hover{
	text-decoration:none;
}
.user-info .nums  a:hover strong{
	color:#FF0000;
}
.user-info .name{
	font-size:16pt;
	line-height:1.8em;
}
.user-info ul.intro{
	margin:0;
	padding:0;
	list-style:none;
	line-height:1.5em;
}
.user-info .intro li{
	margin:0;
	padding:4px 0;
	color:#444;
}
.user-info .intro li b{
	color:#C63;
	font-weight:normal;
}
/**** 主内容区域 *****/
.main{
	margin:0 180px; 
	margin-bottom:-9000px;
	padding-bottom:9000px;
	background:#FFF;
	font-size:14px;
	line-height:1.8em;
}
.main-inner{
	padding:20px;
}
.blog-info{
	overflow:hidden;
}
.blog-info .avatar{
	float:left;
	width:200px;
}
.blog-info .avatar img{
	width:180px;
	height:120px;
}
.blog-info .avatar img{
  max-width:180px;	/*IE7和Firefox用*/
  max-height:120px;
  width: expression(this.width > 180 ? 180: true); 	/*IE6用*/
  height: expression(this.height > 120 ? 120: true); 	/*IE6用*/
}
.blog-info .detail{
	margin-left:200px;
}
.blog-info .title{
	font-size:17pt;
	padding:5px;
}
.blog-info .title span{
	font-size:14px;
	font-weight:normal;
	color:#999;
}
.blog-info ul.intro{
	margin:0;
	padding:0;
	list-style:none;
	line-height:1.5em;
}
.blog-info .intro li{
	margin:0;
	padding:3px 0;
}
.blog-info .intro li b{
	color:#C63;
	font-weight:normal;
}
/*feed-list*/
.blog-feed-list{
}
.blog-feed {
	margin:0;
	padding:0;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:solid 1px #eee;
	overflow:hidden;
}
.blog-feed .feed-avatar{
	float:left;
	width:100px;
	background:none;
}
.blog-feed .feed-avatar img{
	margin:0;
	border:solid 1px #ccc;
	background:#fff;
	padding:5px;
	max-width:64px;	/*IE7和Firefox用*/
	max-height:64px;
	width: expression(this.width > 64 ? 64: true); 	/*IE6用*/
	height: expression(this.height > 64 ? 64: true); 	/*IE6用*/
}
.blog-feed .feed-content{
	margin:0;
	margin-left:100px;
	background:none;
	border:0;
	color:#333;
}
.feed-content .text a{
	color:#26709A;
}
/******* 底部处理 ********/
.blog-ft{
	padding:8px;
	margin:0 auto;
	width:960px;
	overflow:hidden;
	line-height:2em;
	font-size:12px;
	/*background:whiteSmoke;*/
}
.blog-ft .copyright{
	float:left;
	width:45%;
	text-align:left;
	padding-left:10px;
}
.blog-ft .powered{
	float:right;
	width:45%;
	text-align:right;
	padding-right:10px;
}
.blog-ft, .blog-ft a{
	color:#333;
}
/*********** 单身博客设置 ***********/
.blog-single-boy .gside{
	width:0;
	visibility:hidden;
}
.blog-single-boy .main{
	margin-right:0;
}
.blog-single-girl .bside{
	width:0;
	visibility:hidden;
}
.blog-single-girl .main{
	margin-left:0;
}
/********* 女生头像在右边 **********/
.blog-feed-girl .feed-avatar{
	float:right;
}
.blog-feed-girl .feed-content{
	margin-left:0;
	margin-right:100px;
}
/********** 默认风格 ****************/
.blog-hd{
	margin-top:50px;
	height:120px;
	color:#FFF;
	background:#CC6600;
	background:#DB6D00;
	background:#C90;
}
.blog-hd h1{
}
.blog-hd p{
	line-height:1.2em;
}
/*********** 默认风格 **********/
.skin{
	background:#F5F5E9 url(../img/blog/blog-bg.jpg) center top  no-repeat;
}
/*********** 风格1 **********/
.skin1{
	background:#2D1B0D url(../img/blog/blog-bg1.jpg) fixed center top  no-repeat;
}
/*********** 风格2 **********/
.skin2{
	background:#2D1B0D url(../img/blog/blog-bg2.jpg) fixed center top  no-repeat;
}
/*********** 风格3 **********/
.skin3{
	background:#2D1B0D url(../img/blog/blog-bg3.jpg) fixed center top  no-repeat;
	margin-top:50px;
}
/*********** 风格4 **********/
.skin4{
	background:#87D4F2 url(../img/blog/blog-bg4.jpg) center top  no-repeat;
}
/*********** 风格6 **********/
.skin5{
	background:#FEE2F1 url(../img/blog/blog-bg5.jpg) center top  no-repeat;
}
/*********** 风格6 **********/
.skin6{
	background:#8DD4B1 url(../img/blog/blog-bg6.jpg) center top  no-repeat;
}



/******************* 博客正文样式 ***********/
.article, .article a
{
	font-size:14px;
	line-height:1.8em;
}
.art-content{
	font-size:14px;
	line-height:1.8em;
	padding-top:20px;
	padding-bottom:20px;
}
.art-content p{
	font-size:14px;
	line-height:1.8em;
}