@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>出错喇！</title>
</head>
<body>
    <h2>
        @ViewData["Error"] <br />
        Sorry, an error occurred while processing your request.
    </h2>
</body>
</html>