@{
    ViewBag.Title = "关于我们-" + @ViewBag.SiteName;
}

<div class="container row-fluid">

    <div class="span9">
        <div class="bg-white">
            <section class="padding">
                <div class="page-header"> 
                    <h1>关于我们 <small>@ViewBag.SiteSlogan</small></h1> 
                </div> 
                <article class="content">
                    正在建设中...
                </article>
            </section>
        </div>
    </div>

    <div class="span3">
          <div class="well sidebar-nav"> 
            @RenderPage("_NavList.cshtml", new { Active = "Us" })
          </div><!--/.well --> 
    </div>

</div>