@{
    ViewBag.Title = "我的首页-曾在网";
    var user = ViewBag.User as CengZai.Model.User;
}

<div class="container-fluid">

    <h2>@user.Nickname</h2>

     <div class="row-fluid">
      <div class="span6">Level 2</div>
      <div class="span6">Level 2</div>
    </div>


    @RenderPage("../Shared/Footer.cshtml", null)
</div>

