@{
    var user = ViewBag.User as CengZai.Model.User;
    var lover = ViewBag.Lover as CengZai.Model.Lover;
    var boy = Html.GetUser(lover.BoyUserID);
    var girl = Html.GetUser(lover.GirlUserID);
    if (boy == null) 
    {
        boy = new CengZai.Model.User();
    }
    if (girl == null) 
    {
        girl = new CengZai.Model.User();
    }
    ViewBag.Title = boy.Nickname + "&" + girl.Nickname + "的证件-" + ViewBag.SiteName;
}
@section head{
    <link href="../../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
    <script src="../../js/calendar/jquery.calendar.js" type="text/javascript"></script>
    <script src="../../js/swfupload/swfupload.js" type="text/javascript"></script>
    <script src="../../js/swfupload/handlers.js" type="text/javascript"></script>
    <style type="text/css">
        .table th
        {
            vertical-align:top;
        }
        .certificate .cover {
            width: 522px;
            height: 348px;
            background: url(http://statics.xiaoenai.com/assets/marry/jiehun_positive-10abf0b6757420ab5c6e5898a15d047e.png) no-repeat;
        }
        .certificate .cert_right {
            float: right;
            position: relative;
            width: 421px;
            height: 522px;
            background: url(http://statics.xiaoenai.com/assets/marry/seal_demo-dd3ac72d18d942e7848ba44fe4f11f7f.jpg) no-repeat;
        }
        .certificate .cert_right .seal {
        position: absolute;
        top: 124px;
        right: 47px;
        width: 94px;
        height: 92px;
        background: url(http://statics.xiaoenai.com/assets/marry/seal_img-43e461b5c2c967909718753e02a36576.png) no-repeat;
        }
    </style>
}

<div class="container">

        <div class="padding">

            <!--登记表单-->
            <fieldset>
            <legend>付灵和常春的恋爱证信息[预览]</legend>
                <div class="certificate" onselectstart="return false">
        	        <div class="cert_left">
            	        <div class="cover"></div>
                        <div id="wishes">
                            <!--
                            <div class="flower"><p><a href="javascript:void(0);">祝福</a><span>(102)</span></p></div>
                            <div class="envy"><p><a href="javascript:void(0);">羡慕嫉妒恨</a><span>(102)</span></p></div>
                            -->
                        </div>
                
                    </div>
                    <div class="cert_right">
                        <span class="info001">夫妻俩</span>
                        <span class="info002">2012年06月06日</span>
                        <span class="info003">CN天结字6370061008</span>
                        <span class="info004">石宗亮</span>
                        <span class="info005">男</span>
                        <span class="info006">中国</span>
                        <span class="info007">24</span>
                        <span class="info008">1533331****</span>
                        <span class="info009">赫晓贾</span>
                        <span class="info010">女</span>
                        <span class="info011">中国</span>
                        <span class="info012">24</span>
                        <span class="info013">1583392****</span>
            	        <img class="marry_photo" style="width:160px; height:111px;" src="http://img.xiaoenai.com/avatar_img/2012/02/17/c77fcb0b3b2a2693b29da38cc83170f3.jpg">
                        <div class="seal"></div>
                    </div>
            
            </div>
            </fieldset>
      </div>
</div>
