


<hr class="hr-gray" />

<footer class="container">
    <p class="pull-left">&copy 2012 <a href="{:C('SITE_HOST')}">{:C('SITE_NAME')}({:C('SITE_DOMAIN')})</a></p>
    <div class="pull-right">
        <a href="{:U('About/feeback')}">反馈意见</a> | 
        <a href="{:U('About/us')}">关于我们</a> | 
        <a href="{:U('About/join')}">加入我们</a> | 
        <a href="{:U('About/agreement')}">用户协议</a> |
            
        <a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备11056743号</a>
    </div>
</footer>
<script type="text/javascript" src="http://js.tongji.linezing.com/2807601/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/2807601/tongji.gif"/></a></noscript>
{$foot_section}
</body>
</html>