<!DOCTYPE html>
<html>
<head>
    <title>{$title} - {:C('SITE_NAME')}</title>
    <meta name="keywords" content="{:C('SITE_KEYWORDS')}" />
    <meta name="description" content="{:C('SITE_DESCRIPTION')}" />
    <meta property="qc:admins" content="1541240606635672116375" />
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/js/html5.js" type="text/javascript"></script>
    <![endif]-->
    <script src="__PUBLIC__/js/jquery.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/mvc/MicrosoftAjax.js" type="text/javascript"></script> 
    <script src="__PUBLIC__/js/mvc/MicrosoftMvcAjax.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/mvc/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <link href="__PUBLIC__/js/dialog/skins/twitter.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/js/dialog/jquery.artDialog.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/dialog/artDialog.plugins.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/core.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico")">
    {$head_section}
</head>

<body>
<include file="Layout:topbar" />