<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</a>
		<a class="brand logo" href="{:C('SITE_HOST')}">{:C('SITE_NAME')}</a>
		<div class="nav-collapse">
        
		<if condition="empty($user)">
        	<ul class="nav">
                <li><a href="{:U('Account/login')}">登录</a></li>
            </ul>
            <p class="navbar-text pull-right">还有没有注册？ <a href="{:U('User/register')}">立即注册</a></p>
        <else />
		    <ul class="nav">
			    <li class="active"><a href="{:U('Home/index')}">首页</a></li>
                <li><a href="{:U('Profile/index')}">我的主页</a></li>
                <!--<li><a href="{:U('Twitter/index')}">唠叨</a></li>-->
			    <li><a href="{:U('Friend/index')}">好友</a></li>
		    </ul>
            <form class="navbar-search pull-left" action="">
           		<input type="text" class="search-query span2" placeholder="搜索感兴趣的人">
          	</form>
            <ul class="nav pull-right nav-mini-link">
                <li class="dropdown"> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{$user['name']} <b class="caret"></b></a> 
                    <ul class="dropdown-menu"> 
                    <li><a href="{:U('Settings/avatar')}">上传头像</a></li> 
                    <li><a href="{:U('Settings/profile')}">完善资料</a></li> 
                    <li><a href="{:U('Settings/password')}">修改密码</a></li> 
                    <li class="divider"></li> 
                    <li><a href="{:U('User/logout')}">退出登录</a></li> 
                    </ul> 
                </li>
                <li class="divider-vertical"></li> 
                <li><a href="{:U('Inbox/unread')}">私信<sup id="inboxNewCount" class="label label-success hide">0</sup></a></li>
                <li><a href="{:U('Settings/avatar')}">邀请</a></li> 
                <li><a href="{:U('Account/logout')}">退出</a></li>
            </ul>
		</if>
        
		</div><!--/.nav-collapse -->

	</div>
	</div>
</header>
<!-- navbar 结束 -->