@{
    Layout = null;
}

<!DOCTYPE html>
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.form label
{
    display:block;
    margin-bottom:5px;
}
</style>
<html>
<head>
    <title>List</title>
</head>
<body>
    <div>
    <h2>注册成功</h2>
    <p>
       如果无法收到邮件，请检查邮箱是否正确，或者点击这里 @Html.ActionLink("重发注册激活邮件", "Login")。
    </p>

        <div class="form">
            <fieldset>
                <legend>温馨提示</legend>
                @ViewBag.Message
            </fieldset>
        </div>

    </div>
</body>
</html>


