@{
    ViewBag.Title = "Index";
    var ArtList = Model as List<CengZai.Model.Article>;
}


@RenderPage("_Layout_ArtNav.cshtml", null)

<h2>我的文章 @ViewBag.Domain</h2>

@if (ArtList != null && ArtList.Count > 0)
{
    foreach(CengZai.Model.Article art in ArtList)
    {
        <section>
            <h3>@art.Title</h3>
            <article>
            @art.Content
            </article>
        </section>
    }
}
else
{
    @:暂无任何记录！
}

